<aside class="dashboard-sidebar">
    <div class="sidebar-header">
        <div class="sidebar-logo">
            <i class="fas fa-warehouse"></i>
            <span>WMS</span>
        </div>
    </div>

    <nav class="sidebar-nav">
        <div class="nav-section">
            <h5>Menu</h5>
            <ul class="nav-list">
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        <i class="fas fa-th-large"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-mountain"></i>
                        <span>Bölge Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-boxes"></i>
                        <span>Ürünler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-warehouse"></i>
                        <span>Depo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-exchange-alt"></i>
                        <span>Transferler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-chart-bar"></i>
                        <span>Raporlar</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="nav-section">
            <h5>Ayarlar</h5>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-cog"></i>
                        <span>Sistem Ayarları</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Logout", "Account")" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>